@model DesktopApp.Model.GameModel

@{
    ViewBag.Title = "TacTics";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>TacTics</h2>

<table class="scoreboard">
    <tr class="player_name">
        <td class="turn">@Model.PlayerOne.Name</td>
        <td>@Model.PlayerTwo.Name</td>
    </tr>
</table>
<table class="scoreboard">
    <tr class="twenty">
        <td class="player_one_points"></td>
        <td class="player_one_stripes"></td>
        <td class="middle">20</td>
        <td class="player_two_points"></td>
        <td class="player_two_stripes"></td>
    </tr>
    <tr class="twenty">
        <td class="player_one_points"></td>
        <td class="player_one_stripes"></td>
        <td class="middle">19</td>
        <td class="player_two_points"></td>
        <td class="player_two_stripes"></td>
    </tr>
    <tr class="twenty">
        <td class="player_one_points"></td>
        <td class="player_one_stripes"></td>
        <td class="middle">18</td>
        <td class="player_two_points"></td>
        <td class="player_two_stripes"></td>
    </tr>
    <tr class="twenty">
        <td class="player_one_points"></td>
        <td class="player_one_stripes"></td>
        <td class="middle">17</td>
        <td class="player_two_points"></td>
        <td class="player_two_stripes"></td>
    </tr>
    <tr class="twenty">
        <td class="player_one_points"></td>
        <td class="player_one_stripes"></td>
        <td class="middle">16</td>
        <td class="player_two_points"></td>
        <td class="player_two_stripes"></td>
    </tr>
    <tr class="twenty">
        <td class="player_one_points"></td>
        <td class="player_one_stripes"></td>
        <td class="middle">15</td>
        <td class="player_two_points"></td>
        <td class="player_two_stripes"></td>
    </tr>
    <tr class="twenty">
        <td class="player_one_points"></td>
        <td class="player_one_stripes"></td>
        <td class="middle">14</td>
        <td class="player_two_points"></td>
        <td class="player_two_stripes"></td>
    </tr>
    <tr class="twenty">
        <td class="player_one_points"></td>
        <td class="player_one_stripes"></td>
        <td class="middle">13</td>
        <td class="player_two_points"></td>
        <td class="player_two_stripes"></td>
    </tr>
    <tr class="twenty">
        <td class="player_one_points"></td>
        <td class="player_one_stripes"></td>
        <td class="middle">12</td>
        <td class="player_two_points"></td>
        <td class="player_two_stripes"></td>
    </tr>
    <tr class="twenty">
        <td class="player_one_points"></td>
        <td class="player_one_stripes"></td>
        <td class="middle">11</td>
        <td class="player_two_points"></td>
        <td class="player_two_stripes"></td>
    </tr>
    <tr class="twenty">
        <td class="player_one_points"></td>
        <td class="player_one_stripes"></td>
        <td class="middle">10</td>
        <td class="player_two_points"></td>
        <td class="player_two_stripes"></td>
    </tr>
    <tr class="twenty">
        <td class="player_one_points"></td>
        <td class="player_one_stripes"></td>
        <td class="middle">B</td>
        <td class="player_two_points"></td>
        <td class="player_two_stripes"></td>
    </tr>
</table>
